In [3]:

import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

#Load dataset into a pandas dataframe
df = pd.read_csv("../data/Cleaned data/data.csv") 

#base_dir = os.path.dirname(os.path.abspath("../../data"))
#path = os.path.join(base_dir, r"data")
#os.chdir(path) 

df.dropna(inplace = True)

df.head()

,YEAR,MONTH,DAY,DATE,TOTALDEMAND,MIN,ACCMIN,MAX,RAIN,SOLAR,RRP,FORECASTDEMAND,OUTPUT,HUMIDITYAVE,HUMIDITYMIN,HUMIDITYMAX,MONTHDATE,TEMPAVE
0,2010,1,1,2010-01-01,7793.463681,20.3,1.0,29.6,0.2,14.6,20.364894,7747.906211,1.53,0.675870,0.46,0.89,01-2010,24.95
1,2010,1,1,2010-01-01,7793.463681,20.3,1.0,29.6,0.2,14.6,20.364894,7747.906211,1.53,0.675870,0.46,0.89,01-2010,24.95
2,2010,1,1,2010-01-01,7793.463681,20.3,1.0,29.6,0.2,14.6,20.364894,7747.906211,1.53,0.735918,0.46,1.00,01-2010,24.95
3,2010,1,1,2010-01-01,7793.463681,20.3,1.0,29.6,0.2,14.6,20.364894,7747.906211,1.53,0.832766,0.69,1.00,01-2010,24.95
4,2010,1,1,2010-01-01,7793.463681,20.3,1.0,29.6,0.2,14.6,20.364894,7747.906211,1.53,0.706042,0.51,0.94,01-2010,24.95

In [4]:


df = df.drop(['DATE','MIN', 'ACCMIN','MAX','SOLAR', 'HUMIDITYMIN', 'HUMIDITYMAX', 'MONTHDATE'], axis=1)

df.head()

,YEAR,MONTH,DAY,TOTALDEMAND,RAIN,RRP,FORECASTDEMAND,OUTPUT,HUMIDITYAVE,TEMPAVE
0,2010,1,1,7793.463681,0.2,20.364894,7747.906211,1.53,0.675870,24.95
1,2010,1,1,7793.463681,0.2,20.364894,7747.906211,1.53,0.675870,24.95
2,2010,1,1,7793.463681,0.2,20.364894,7747.906211,1.53,0.735918,24.95
3,2010,1,1,7793.463681,0.2,20.364894,7747.906211,1.53,0.832766,24.95
4,2010,1,1,7793.463681,0.2,20.364894,7747.906211,1.53,0.706042,24.95

In [5]:
# define scaler and transform data
scaler = MinMaxScaler()

data = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
data.head()

,YEAR,MONTH,DAY,TOTALDEMAND,RAIN,RRP,FORECASTDEMAND,OUTPUT,HUMIDITYAVE,TEMPAVE
0,0.0,0.0,0.0,0.319521,0.001253,0.001964,0.389996,0.003338,0.613030,0.657609
1,0.0,0.0,0.0,0.319521,0.001253,0.001964,0.389996,0.003338,0.613030,0.657609
2,0.0,0.0,0.0,0.319521,0.001253,0.001964,0.389996,0.003338,0.688724,0.657609
3,0.0,0.0,0.0,0.319521,0.001253,0.001964,0.389996,0.003338,0.810804,0.657609
4,0.0,0.0,0.0,0.319521,0.001253,0.001964,0.389996,0.003338,0.651063,0.657609

In [ ]:
#Split the dataset into independent and dependent variables:

X = data['independent_variable'].values.reshape(-1,1)
y = data['dependent_variable'].values.reshape(-1,1)