In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier 
from sklearn.tree import export_text
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np

dataframe = pd.read_csv("Final_data.csv")  # Load dataset
dataframe.head()

,YEAR,MONTH,DAY,TOTALDEMAND_x,MAX,ACCMAX,RAIN,RAINPERIOD,SOLAR,TOTALDEMAND_y,RRP,FORECASTDEMAND,OUTPUT,QUANTITY,QUANTITYMONTHCUM,QUANTITYTOTALCUM,OUTPUTMONTHCUM,OUTPUTTOTAL
0,2010,1,1,7793.463681,29.6,1.0,0.2,1.0,14.6,7796.317872,20.364894,7747.906211,1.53,1.0,1.0,20.0,1.53,31.86
1,2010,1,1,7793.463681,29.6,1.0,0.2,1.0,14.6,7796.317872,20.364894,7747.906211,1.53,1.0,2.0,21.0,3.06,33.39
2,2010,1,2,8012.314097,29.5,1.0,0.0,1.0,18.4,8017.459792,20.478125,7773.818583,1.53,1.0,1.0,20.0,1.53,31.86
3,2010,1,2,8012.314097,29.5,1.0,0.0,1.0,18.4,8017.459792,20.478125,7773.818583,1.53,1.0,2.0,21.0,3.06,33.39
4,2010,1,3,7393.354514,21.0,1.0,15.2,1.0,7.3,7399.899583,20.277083,7462.384786,1.53,1.0,1.0,20.0,1.53,31.86

In [ ]:
plot.scatter(x=dataframe)